#welcome {
  width: 20rem;
  margin: auto;
}

#welcome h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
  color: #666;
}

#welcome input {
  display: block;
  width: 80%;
  height: 2rem;
  margin: 0.5rem auto;
  font-size: 1rem;
  padding-left: 0.5rem;
  font-family: monospace;
}

#welcome button {
  display: block;
  width: 70%;
  margin: auto;
  height: 2.5rem;
  background-color: #0066ff;
  font-size: 1rem;
  color: #fff;
}

#welcome button:hover {
  background-color: #1a75ff;
}

#welcome a {
  display: block;
  margin-top: 0.5rem;
  text-align: center;
  text-decoration: none;
}

#warning {
  color: #990099;
  text-align: center;
  visibility: hidden;
  padding-bottom: 0.5rem;
}
